@import "settings";

@import "foundation";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
//Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
/**OVERRIDES**/
@mixin transition($duration) {
    -webkit-transition: $duration ease;
    -moz-transition: $duration ease;
    -ms-transition: $duration ease;
    -o-transition: $duration ease;
    transition: $duration ease;
}

@mixin breakpoint($point) {
  @if $point == momo {
        @media (max-width: 1600px) { @content;
    }
}

@else if $point == tab {
    @media (max-width: 600px) {
        @content;
    }
}

@else if $point == mulika {
    @media (max-width: 480px) {
        @content;
    }
}
}

$kpa-blue: #0c53a3;




h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
}


body {
    background: url(../img/bg.png);
    border-top: solid 10px #0c53a3;
    font-weight: 200;

}

$body-font-family: "Open Sans","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

#topBar {
    margin-top: 15px;
    margin-bottom: 25px;
    .logo { 
        padding: 10px 0; 
        
        img { 
            width: 80%;
            max-width: 320px;
        }
    }

    .menu {
        /*display: none;*/
        /*float: right;*/
        margin: 30px 0 0 0;
        ul{
            list-style: none;
            /*float: right;*/
            margin: 0;
            li{ 
                float: left;
                margin: 0 10px;
                height: 61px;
            }

            .active {
                border-bottom: 4px solid #ff6600;
            }

            a {
                font-weight: 400;
                color: #3e3e3e;
                &:hover{ color:#0c53a3;};
            }
	   }
    }
}

.top-banner {
    height: 70px; 
    margin: 21px auto;

    .contact {
        p {
            font-size: .9em;
            text-align: right;
            margin-top: 20px;        
        }
    }

    .social.columns {
        padding: 0px 0px;
        margin-top: 13px;
    }
}


/**banner**/
#banner {
    border-top: 1px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 1px solid #CCCCCC; 
    border-right: 1px solid #CCCCCC;
    margin-bottom: 15px;
    
}
/**mainContent**/
#mainContent {
    padding: 12px 0 0 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 1px solid #CCCCCC; 
    border-right: 1px solid #CCCCCC;
    margin-bottom: 15px;
    font-weight: 100;
        h2 {
            font-weight: 100;
        }
    

    
    .video{
		 height: 200px;
        background: #072e7c;
        margin: 20px 0;
        color: #999999;
    }

    .events, .downloads {
        h3{ 
            font-size: 1.25rem;
            border-bottom: 2px solid #072e7c;
            width: 65px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            height: 40px;
            margin: 10px 0;
            background: #e4e4e4 url('../img/li-left.png') left no-repeat;
        }

        a {
            font-size: 0.875rem;
            color: #000;
            float: left;
            padding: 9px 0 0 30px;
        }

	}

    .downloads {
        h3{
            width: 108px;
        }

        li {
            height: 50px;
            background: #e4e4e4 url('../img/download.png') 12px 8px no-repeat;
            line-height: 16px;
        }

        a {
            padding: 9px 0 0 44px;
        }
	}
    
    /**grey bg**/	
    #bg {
        background: #e4e4e4;
        max-width: 62.5rem;
        margin: 0 auto;
        padding: 0 10px;
    }

    .upcoming {
        padding: 31px 0 0 60px;
        background: url('../img/cal.png') 0px 30px no-repeat;
        p{
		 	span{
		 		color: #ff6600;
            }
		}
	}
    .news {
        p{ 
            margin: 12px 0 5px 0;
        }

        input[type="submit"] {
            background: #ff6600 url('../img/submit.png') center no-repeat;
        }
	}

	/**affiliations**/
    .affiliations {
        margin: 15px auto;
        h3{ 
            font-size: 1.25rem;
            border-bottom: 2px solid #072e7c;
            width: 100px;
        }   

        ul {
            list-style: none;
        }

        li {
            float: left;
            margin: 1rem 0.79rem;
        }
    }
}
.social {
    .fb, .tw {
        width: 29px;
        height: 28px;
        background: url('../img/fb.png');
        float: right;
        margin: 0px 5px;
        padding-top: 15px;

        &:hover{
           background-position: 0px -28px;
            @include transition(.5s);
        }
  
    }

    .tw {
        background: url('../img/tw.png');
    }
  
}
/*footer*/
#footer {
    background: #fff;
    color: #999999;
    p{ 
        font-size: 0.75rem;
        margin: 5px 0 0 0;
        padding: 10px 0;
        font-weight: 100;
   }
}

/**orbit-caption**/
.orbit-caption{ 
    background: none !important;
    h2 {
        color: #fff;
    }
}

.lbl {
    background: #ff6600;
    height: 45px;
    margin-left: 45%;
    width: 200px;
    margin-top: 1rem;
    border-radius: 5px;
}

.corporate-label {
    background: #ff6600;
    height: 45px;
    margin-left: 30%;
    width: 175px;
    margin-top: 1rem;
    border-radius: 5px;
    .lbl-content {
            padding: 0px 10px 0px 0px;
    }
}

.individual-label {
    background: #ff6600;
    height: 45px;
    margin-right: 37%;
    width: 150px;
    margin-top: 1rem;
    border-radius: 5px;
    .lbl-content {
        padding: 0px 0px 0px 0px;
    }
}

.lbl-container {
    margin-bottom: 15px;
}

.title-text {
   position: absolute;
   bottom: -10px;
    margin-left: 20px;
    font-weight: 100;
        p {
        font-weight: 400;
    }

}

.title-banner {
    background:black;
    height:200px;
    color:white;
    position: relative;
}

.map {
    margin-top: 25px;
    height: 200px;
    background-image: url('../img/map.png');
    border-top: 1px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 1px solid #CCCCCC; 
    border-right: 1px solid #CCCCCC;
}

/*.contact-form {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}*/

.button {
    background : #ff6600;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #006699;
    color: #ffffff;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 43px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #ffffff;    
    color: #333333;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #ffffff;
    color: $kpa-blue;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    height: 13px;
    margin: 15px 0px;
    border-right: solid 1px #999999;
}


.top-bar {
    background: white;
    color: #333333;
    margin-bottom: 30px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.lbl-content {
    margin: 5px;
    padding: 4px 2px 0px 10px;
}

input, textarea {
    font-weight: 100;
}

.getintouch {

    h3 {
        color: #006699;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 4px;
        font-weight: 100;
    }
    p {
        font-weight: 200;
        color: #cccccc;
        font-size: smaller;
}

}

.tabs { 
    margin-top: 20px;
}

.tabs-content {
    .img {
        height: 100px;
    }   
}

.paragraph{
   line-height: 3.6;
   font-weight: 100;
   float: right;
}

.accordion{
    border: 1px solid #CCCCCC;
    
}

.accordion dd > a {
    border-bottom: 1px solid #CCCCCC;  
    background: #ffffff;
    color: #999999;
    padding: 8px;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
.fa{
    color: #3399cc;
}

.button {
    background: #006699;
}

.mailing{
    padding-right: 10px;
    margin-top: -20px;
    h3 {
        color: #006699;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 4px;
        font-weight: 100;


    }
    .button-postfix{
        
        padding-left: 20px;
    }

    .social {
        float: left;
        margin: 0px 3px;
    }
    p {
        color: #cccccc;
        font-weight: 200;
    }

}
.news {
    border-bottom: 1px solid #CCCCCC;
    font-weight: 100;
    h3 {
        color: #006699;
        font-weight: 100;
    }
}

.content {
    margin-top: 25px;
    font-weight: 100;

}

.eventdate {
    position: absolute;
    bottom: 0;
    background: #006699;
    color: #fff;
    width: 65px;
    height: 60px
    }

.month {
        display: block;
        text-align: center;
        margin-bottom: 0px;
        font-weight: 100;
}

.day {
        display: block;
        text-align: center;
        margin-top: 6px;
        font-weight: 100;
}


.bg {
        background: #666666;
        color: #ffffff;
       text-align: center;
       font-weight: 100;
       padding-right: 60px;
}
.readmore {
        background: #006699;
        color: #ffffff;
       text-align: center;
       text-align: right;
        border-bottom: 5px solid #006699;
        float: right;
        position: relative;
        width: 39%;
        height: 26px;
        font-weight: 100;
        padding-right: 5px;
        padding-bottom: 3px;
        
}


.font {
    font-weight: 300;
}
.text {
    text-align: center;
    color: #cccccc;
    border-bottom: 3px solid #006699;
    font-weight: 100;
}

.bottom {
    border-bottom: 5px solid #006699;
    margin-top: 30px;

}
.bottom2 {
    border-bottom: 1px solid #cccccc;
    margin-top: 30px;

}

.placeholder {
    font-weight: 100;
}

.row {
    font-weight: 100;
}

.icon {
    padding-top: 15px;
}

.contact {
    padding-left: 0px;
    padding-right: 0px;
}

.circle {
    margin-top: 35px;
    width: 300px;
    height: 300px;
    border: 3px solid #6699cc;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
}
.circle2 {
    position: absolute;
    left: 36px;
    top: -71px;
    margin-top: 35px;
    width: 150px;
    height: 150px;
    border: 2px solid #cccccc;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
}

.ceocircle2 {
    position: absolute;
    left: 36px;
    top: -71px;
    margin-top: 35px;
    width: 150px;
    height: 150px;
    border: 2px solid #006699;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
}

.circle3{
    margin-top: 35px;
    width: 150px;
    height: 150px;
    border: 2px solid #cccccc;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;

    #ceo {
       border: 2px solid #6699cc; 
    }
}


.top-bar2 {
    background: white;
    color: #333333;
    margin-bottom: 1rem;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-bottom: solid 1px #cccccc; 
    margin-bottom: 1rem;
}
.about {
    margin-top: 52px;
    h2{
        font-weight: 200;
        color: #006699;
    }
    p {
        margin-top: 13px;
        color: #999999;
        padding-left: 5px; 
        font-size: 15px;
    }
    .afya {

    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px; 
    }
    ul {
        color: #999999;
        font-size: 15px;
        font-weight: 200;

}
    li {
        color: #006699;
    }
}

.download {
    padding-left: 85px;
    font-weight: 200;
    margin-top: 8px;

}

.box {

    background: #eff1f2;
    position: relative;
    width: 230px;
    height: 290px;
    margin-top: 35px;
    margin-bottom: 0px;
}

    .texts {
        h6 {
            color: #999999;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 5px;
        }
        padding-top: 123px;
        font-weight: 200;
        color: #999999;
        text-align: center;
    }
.ceobox {

    background: #006699;
    position: relative;
    width: 230px;
    height: 290px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.ceotexts {
        padding-top: 123px;
        font-weight: 200;
        color: #ffffff;
        text-align: center;

        h6 {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 5px;
        }
    }

.words {

    h5 {/*
     margin-top: 200px; 
    padding-top: 180px;*/
    color: #999999;
    text-align: center;
    padding-right: 60px;
    }
    p {
        font-weight: 200;
        color:#cccccc;
        font-size: smaller;
        text-align: center;
        padding-right: 60px;
    }
}

.info {
    h3 {
        color: #006699;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 4px;
        font-weight: 100;
        margin-bottom: 35px;
    }
    p {
        font-weight: 200;
        color: #cccccc;
        font-size: smaller;
}

}
.ceo {


    background: #006699;
    position: relative;
    width: 230px;
    height: 290px;
    margin-top: 35px;
}
.ceowords {

    h5 {/*
     margin-top: 200px; 
    padding-top: 180px;*/
    color: #006699;
    text-align: center;
    padding-right: 60px;
    }
    p {
        font-weight: 200;
        color:#006699;
        font-size: smaller;
        text-align: center;
        padding-right: 60px;
    }
}
.ceocircle {

    margin-top: 35px;
    width: 150px;
    height: 150px;
    border: 2px solid #6699cc;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(URL) no-repeat;
}
